/* import fonts Outfit 300, 400 and 600*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {

    /* Primary colors */
    --clr--primary-color: hsl(215, 51%, 70%);
    --clr--secondary-color: hsl(178, 100%, 50%);
    /* Card colors */
    /* Very dark blue - main background */
    --clr--main-bg-color: hsl(217, 54%, 11%);
    /* Very dark blue - card background */
    --clr--card-bg-color: hsl(216, 50%, 16%);
    /* Very dark blue */
    --clr--line-color: hsl(215, 32%, 27%);

    /* Neutral colors */
    --clr--white-color: hsl(0, 0%, 100%);
}

/* Defaults */
* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

/* Attribution */
.attribution {
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
body {
    background-color: var(--bg-main);
    color: var(--colour-blue);
    font-weight: 300;
    line-height: 1.6;
  }

  @media (23.438rem)